<header class="header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/">My-Glucose<i class="fa-solid fa-syringe"></i></a></h1>
      <div class="user_nav grid-6">
        <%= link_to "投稿", new_post_path, class: "post" %>
      </div>
      <%= render "shared/sidebar" %>
   </div>
</header>
