<div class="timeline-post">
    <div class="content_post">
      <p><%= @post.content %></p>
      <p><% @post.image %></p>
       <div class="users_nav_info">
        <%= @post.user.name %>
       </div>
    </div>  
 </div>

